.img-fluid {
  width: 100%;
  transition: all;
  transition-duration: 400ms;
}
.img-fluid:hover {
  scale: 1.1;
}

@media (min-width: 768px) {
  .img-fluid {
    max-height: 75vh;
    object-fit: cover;
  }
}
.mainImg{
  overflow: hidden;
}
